.breadcrumbs {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    color: #F3F3F3;

    & > li {
        &:not(:first-child) {
            margin-left: 0.5em;
            &::before {
                content: '';
                width: 2.5em;
                height: 1px;
                background-color: #BFBFBF;
                display: inline-block;
                margin-bottom: 0.3em;
                margin-right: 0.4em;
            }
        }
    }

    & a {
        color: #7E838D;
        transition: color .3s ease;
    }
}
