.carousel {
    position: relative;
    cursor: grab;

    & .swiper {
        overflow: visible;
    }
    & .swiper-wrapper {
    }

    & .swiper-slide {
        width: 30.5rem;

        @media (max-width: $md3+px) {
            width: 20rem;
        }
    }

    &__slider {

    }
}