.carousel {
    position: relative;
    cursor: grab;
    user-select: none;

    @media (min-width: 992px) {
        &:hover {
            & .carousel__btn {
                pointer-events: auto;
            }

            & .carousel__btn img {
                opacity: 0.4;
            }
        }
    }

    & .swiper {
        overflow: visible;
    }
    & .swiper-wrapper {
    }

    & .swiper-slide {
        width: 30.5rem;

        @media (max-width: $md3+px) {
            width: 20rem;
        }
    }

    &__slider {

    }

    &__btn {
        position: absolute;
        z-index: 4;
        top: 0;
        font-size: 2.4rem;
        height: calc(100% - 1em - 4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: calc((100vw - 162rem) / 2 + 16.5rem);
        transition: all .3s ease;
        cursor: pointer;
        pointer-events: none;

        &.hide {
            opacity: 0 !important;
            pointer-events: none !important;
        }

        @media (max-width: $md1+px) {
            width: calc((100vw - 162rem) / 2);
        }

        @media (max-width: $md2+px) {
            display: none;
        }

        @media (min-width: 992px) {
            &:hover {
                & img {
                    opacity: 1 !important;
                }
            }
        }

        & img {
            position: relative;
            z-index: 2;
            height: 5rem;
            width: auto;
            opacity: 0;
            transition: all .3s ease;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 7rem);
        }
    }

    &__shadow-left {
        right: 100%;
        &::before {
            background: linear-gradient(90deg, #000000 6.75%, rgba(0, 0, 0, 0) 100.01%);
        }
    }

    &__shadow-right {
        left: 100%;

        &::before {
            background: linear-gradient(-90deg, #000000 6.75%, rgba(0, 0, 0, 0) 100.01%);
        }
    }

    &--second {
        cursor: auto;
        & .carousel__slider {
            cursor: grab;
        }

        & .swiper-wrapper {
            @media (max-width: $md3+px) {
                height: auto !important;
                align-items: initial;
            }
        }

        & .swiper-slide {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
    
            @media (max-width: $md3+px) {
                width: 28rem;
            }

            & > div {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;

                & > div {
                    flex: 1 1 auto;
                }
            }

            & .link {
                display: inline-block;
            }
        }

        & .cases-card {
            height: 100%;
        }
    }
}