.carousel {
    position: relative;
    cursor: grab;
    user-select: none;

    @media (min-width: 992px) {
        &:hover {
            & .carousel__btn {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    & .swiper {
        overflow: visible;
    }
    & .swiper-wrapper {
    }

    & .swiper-slide {
        width: 30.5rem;

        @media (max-width: $md3+px) {
            width: 20rem;
        }
    }

    &__slider {

    }

    &__btn {
        position: absolute;
        z-index: 4;
        top: 0;
        font-size: 2.4rem;
        height: calc(100% - 1em - 4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: calc((100vw - 162rem) / 2 + 16.5rem);
        transition: all .3s ease;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;

        &.hide {
            opacity: 0 !important;
            pointer-events: none !important;
        }

        @media (max-width: $md1+px) {
            width: calc((100vw - 162rem) / 2);
        }

        @media (max-width: $md2+px) {
            display: none;
        }

        @media (min-width: 992px) {
            &:hover {
                & img {
                    opacity: 1;
                }
            }
        }

        & img {
            height: 5rem;
            width: auto;
            opacity: 0.4;
            transition: all .3s ease;
        }
    }

    &__shadow-left {
        right: 100%;
        background: linear-gradient(90deg, #000000 6.75%, rgba(0, 0, 0, 0) 100.01%);
    }

    &__shadow-right {
        left: 100%;
        background: linear-gradient(-90deg, #000000 6.75%, rgba(0, 0, 0, 0) 100.01%);
    }

    &--second {
        cursor: auto;
        & .carousel__slider {
            cursor: grab;
        }

        & .swiper-slide {
            width: 100%;
    
            @media (max-width: $md3+px) {
                width: 28rem;
            }
        }
    }
}