.home-section-one {
    position: relative;

    &__body {
        position: relative;
        z-index: 3;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__inner {
        position: relative;
    }

    &__title {
        margin-top: 4rem;
    }

    &__text {
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        margin-bottom: 12rem;

        @media (max-width: $md3+px) {
            gap: 1.4rem;
            margin-bottom: 4rem;
        }
    }

    &__text-col {
        flex: 0 1 calc(50% - 2.5rem);

        @media (max-width: $md3+px) {
            flex: 0 1 100%;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.home-section-two {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__row-1 {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        margin-bottom: 15rem;

        &:last-child {
            margin-bottom: 0 !important;
        }

        @media (max-width: $md3+px) {
            display: block;
            margin-bottom: 8rem;
        }

        & .home-section-two__col {
            @media (min-width: 768px) {
                &:nth-child(1) {
                    flex: 1 1 auto;
                    max-width: 50rem;
                }
                &:nth-child(2) {
                    flex: 0 0 calc(50% + 6.6rem - 2.5rem);
                }
            }
        }
    }

    &__row-2 {
        @media (min-width: 992px) {
            margin-left: -4rem;
            margin-right: -4rem;
        }
    }

    &__col {
    }

    &__title {
    }

    &__text {
        @media (max-width: $md3+px) {
            max-width: none;
            margin-bottom: 4.6rem;

            & .blot {
                display: none;
            }
            
            &.text-\[2\.4rem\] {
                font-size: 1.8rem;
            }
        }

        & img.blot {
            &:not(:first-child) {
                margin-top: 4rem;
            }
        }
    }
}

.check-list {
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.47em;
    letter-spacing: 0.01em;

    @media (max-width: $md3+px) {
        font-size: 1.8rem;
    }

    & > li {
        position: relative;
        padding-left: 6.6rem;

        @media (max-width: $md3+px) {
            padding-left: 4rem;
        }

        &:not(:last-child) {
            margin-bottom: 4.6rem;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e904";
            top: 0;
            left: 0;
            font-size: 1em;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        & > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    &--hide-icons {
        & > li {
            padding-left: 0;
            &::before {
                display: none;
            }

            @media (max-width: $md3+px) {
                padding-left: 0rem;
            }
        }
    }
}

.team-preview {
    padding-left: 0;
    margin-bottom: 3rem;
}

.team-big-card {
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    gap: 6.4rem;
    min-height: 28.5rem;

    @media (max-width: $md2+px) {
        gap: 3rem;
    }

    @media (max-width: $md3+px) {
        display: block;
        border-bottom: none;
        min-height: auto;
        padding-top: 2.5rem;
    }

    &__img {
        flex: 0 0 29rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // -webkit-backface-visibility: hidden;
        // -moz-backface-visibility: hidden;
        // -webkit-transform: translate3d(0%, 0%, 0);
        // -moz-transform: translate3d(0%, 0%, 0);
        transform: translate3d(0%, 0%, 0);

        @media (max-width: $md2+px) {
            flex: 0 0 20rem;
        }

        &.show-animation {
            & img {
                transform: translateY(0);
            }

            & > span {
                opacity: 1;
            }
        }

        &-inner {
            position: relative;
            z-index: 2;
            overflow: hidden;
            height: 25rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;

            @media (max-width: $md3+px) {
                height: 17.8rem;
            }
        }

        // &:before {
        //     position: absolute;
        //     content: "";
        //     z-index: 1;
        //     top: 50%;
        //     left: 50%;
        //     width: 20rem;
        //     height: 20rem;
        //     max-width: 100%;
        //     border-radius: 100%;
        //     background: linear-gradient(263.96deg, #00b4cc 7.61%, #000aff 87.18%);
        //     filter: blur(55px);
        //     opacity: 0;
        //     transition: all .6s ease .6s;
        //     -webkit-backface-visibility: hidden;
        //     -moz-backface-visibility: hidden;
        //     -webkit-transform: translate3d(-50%, -50%, 0);
        //     -moz-transform: translate3d(-50%, -50%, 0);
        //     transform: translate3d(-50%, -50%, 0);
        // }

        & > span {
            position: absolute;
            content: "";
            z-index: 1;
            height: 43.6rem;
            width: 43.6rem;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 0.6s ease 0.6s;

            @media (max-width: $md3+px) {
                height: 36.6rem;
                width: 36.6rem;
            }
        }

        & img {
            width: 100%;
            max-width: 20rem;
            height: auto;
            position: relative;
            z-index: 2;
            display: block;
            transform: translateY(100%);
            transition: transform 0.6s ease;

            @media (max-width: $md3+px) {
                max-width: 14rem;
            }
        }
    }

    &__main {
        flex: 1 1 auto;
        display: flex;
        gap: 3.5rem;
        padding-top: 6rem;
        padding-bottom: 2rem;

        @media (max-width: $md3+px) {
            align-items: center;
            border: 1px solid $textColor;
            justify-content: space-between;
            padding: 1rem 2.5rem;
            gap: 0;
            min-height: 6rem;
        }
    }

    &__col-1 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 29.9rem;
        }

        @media (max-width: $md3+px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            width: 100%;
        }
    }

    &__col-2 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 27.8rem;
        }

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__col-3 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 38.5rem;
        }

        @media (max-width: $md2+px) {
            max-width: 32rem;
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__label {
        font-size: 1.8rem;
        line-height: 2.5rem;
        letter-spacing: 0.01em;
        opacity: 0.5;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.33em;
        letter-spacing: 0.01em;
        margin-bottom: 1.7rem;

        @media (max-width: $md3+px) {
            margin-bottom: 0;
            font-size: 1.8rem;
            line-height: 1.2em;

            & br {
                display: none;
            }
        }
    }

    &__flag {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 0 0 auto;
        font-size: 3rem;
    }

    &__flag-mob {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        flex: 0 0 auto;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.38em;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.44em;
        letter-spacing: 0.01em;
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.home-section-three {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
        max-width: 71rem;
        margin-left: auto;

        &--left {
            margin-left: 0;
        }
    }

    &__title {
    }

    &__text {
        margin-bottom: 10rem;

        @media (max-width: $md3+px) {
            margin-bottom: 4.6rem;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__list {
        @media (min-width: 768px) {
            margin-bottom: 5rem;
        }
    }
}

.home-section-four {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 15rem;

        @media (max-width: $md3+px) {
            gap: 0;
        }
    }

    &__row-1 {
    }

    &__row-2 {
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__text-big {
        font-style: italic;
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.47em;
        text-align: center;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            font-size: 1.8rem;
        }
    }
}

.step-tabs {
    display: flex;
    gap: 5rem;
    justify-content: space-between;

    @media (max-width: $md3+px) {
        display: block;
    }

    &__col-1 {
        flex: 1 1 auto;
        max-width: 50.1rem;

        @media (max-width: $md3+px) {
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            max-width: none;

            & .btn-default {
                justify-self: center;
                align-self: center;
            }
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        max-width: 65.3rem;
    }

    &__content {
    }

    &__title {
        @media (min-width: 768px) {
            margin-top: -1.2rem;
        }
    }

    &__text {
        margin-bottom: 4.5rem;
        max-width: 40.3rem;

        @media (max-width: $md3+px) {
            max-width: none;
            margin-bottom: 4rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__nav {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 14rem;
            height: 100%;
            width: 0.2rem;
            background-color: $mainColor;
            transform: translateX(-50%);
            z-index: -1;

            @media (max-width: $md3+px) {
                left: 10.5rem;
            }
        }
    }

    &__nav-item {
        display: flex;
        align-items: center;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 9rem;

            @media (max-width: $md3+px) {
                margin-bottom: 6rem;
            }
        }

        &:first-child {
            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 14rem;
                height: 50%;
                width: 0.4rem;
                z-index: 1;
                transform: translateX(-50%);
                background-color: #000;

                @media (max-width: $md3+px) {
                    left: 10.5rem;
                }
            }
        }

        &:last-child {
            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 14rem;
                height: 50%;
                width: 0.4rem;
                z-index: 1;
                transform: translateX(-50%);
                background-color: #000;

                @media (max-width: $md3+px) {
                    left: 10.5rem;
                }
            }
        }

        &.tab-active {
            & .step-tabs__nav-item-title {
                color: #fff;
                font-weight: 700;
            }

            & .step-tabs__nav-item-icon {
                opacity: 1;
                visibility: visible;
            }

            & .step-tabs__nav-item-dot {
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__nav-item-num {
        text-align: right;
        flex: 0 0 9.8rem;
        font-size: 3.2rem;
        line-height: 1em;
        letter-spacing: 0.01em;
        color: #fff;
        font-family: $secondFontFamily;
        margin-right: 3.6rem;

        @media (max-width: $md3+px) {
            flex: 0 0 7.3rem;
            margin-right: 2.6rem;
            font-size: 2.4rem;
        }
    }

    &__nav-item-dot {
        flex: 0 0 auto;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 4.6rem;
        border-radius: 50%;
        background-color: $mainColor;
        position: relative;
        z-index: 2;

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            background: #000000;
            border: 2px solid $mainColor;
            box-shadow: 0px 0px 6px 3px $mainColor;
            transition: opacity 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }

        @media (max-width: $md3+px) {
            margin-right: 2.6rem;
        }
    }

    &__nav-item-title {
        max-width: 25rem;
        font-size: 3rem;
        line-height: 1.33em;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #555a63;
        transition: color 0.3s ease;
        cursor: pointer;
        position: relative;
        z-index: 3;

        @media (max-width: $md3+px) {
            font-size: 1.8rem;
        }

        @media (min-width: 992px) {
            &:hover {
                color: #fff;
            }
        }
    }

    &__nav-item-icon {
        position: absolute;
        top: 50%;
        left: 47rem;
        width: 5rem;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;

        @media (max-width: $md3+px) {
            display: none;
        }

        & span {
            position: absolute;
            content: "";
            z-index: 1;
            height: 33.6rem;
            width: 33.6rem;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        & img,
        & svg {
            position: relative;
            z-index: 2;
            width: 150%;
            height: auto;
        }
    }
}

.home-section-five {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
    }

    &__slider {
    }
}

.home-section-six {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
    }

    &__cases {
        max-width: 95.2rem;
        width: 100%;
        margin: 0 auto 4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 3rem;
        }
    }
}

.cases-list {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}

.cases-card {
    display: flex;
    border: 1px solid #fff;
    flex-direction: row-reverse;
    color: #fff !important;

    @media (max-width: $md3+px) {
        display: block;
    }

    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0 0 2rem rgba(#fff, 0.3);
            & .cases-card__img img {
                transform: scale(1.1);
            }
        }
    }

    &__img {
        min-height: 40rem;
        flex: 1 1 auto;
        overflow: hidden;
        border-left: 1px solid #fff;

        @media (max-width: $md3+px) {
            border: none;
            height: 0;
            min-height: auto;
            padding-bottom: 72%;
        }

        & img {
            transition: transform 1.4s ease;
        }
    }

    &__video {
        min-height: 40rem;
        flex: 1 1 auto;
        overflow: hidden;
        border-left: 1px solid #fff;

        @media (max-width: $md3+px) {
            border: none;
            height: 0;
            min-height: auto;
            padding-bottom: 72%;
        }
    }

    &__video-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition: transform 0.3s ease;
        width: 7.9rem;

        @media (min-width: 992px) {
            &:hover {
                transform: translate(-50%, -50%) scale(1.05);
            }
        }

        & img {
            position: static;
            width: 100%;
            height: auto;
        }
    }

    &__text-wrap {
        flex: 0 0 39.4rem;
        width: 39.4rem;
        padding: 4rem 5rem;

        @media (max-width: $md3+px) {
            width: auto;
            padding: 3rem 3.5rem 3.5rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__scroll-box {
        @media (min-width: 768px) {
            max-height: 32rem;
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: -2rem;
            padding-right: 2rem;

            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background: #ffffff;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 3.2rem;
        //font-size: 2.4rem;
        line-height: 1.56em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-family: $secondFontFamily;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        @media (max-width: $md3+px) {
            font-size: 24px;
            //font-size: 20px;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        line-height: 1.56em;
        margin-bottom: 5rem;
        font-style: italic;

        & > *:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 3.4rem;
        }
    }

    &__text {
        & > *:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $md3+px) {
            line-height: 2rem;
        }
    }

    &--big {
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column-reverse;
        }

        @media (min-width: 992px) {
            &:hover {
                box-shadow: none;
            }
        }
        & .cases-card__text-wrap {
            @media (min-width: 768px) {
                padding: 6.8rem 5rem 6rem;
                flex: 0 0 48.19%;
                width: 48.19%;
            }

            @media (max-width: $md3+px) {
                flex: 0 1 auto;
                padding: 1.6rem 1.7rem 2.5rem;
            }
        }

        & .cases-card__video,
        & .cases-card__img {
            min-height: 50.9rem;

            @media (max-width: $md3+px) {
                min-height: 29.9rem;
            }
        }

        & .cases-card__title {
            font-weight: 700;
            font-size: 4.8rem;
            line-height: 1.2em;
            font-family: $mainFontFamily;
            margin-bottom: 4rem;
            text-transform: none;
        }

        & .cases-card__text {
            @media (min-width: 768px) {
                max-width: 45.2rem;
            }
        }
    }

    &--sm {
        @media (min-width: 992px) {
            &:hover {
                box-shadow: none;
            }
        }
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column-reverse;
        }

        & .cases-card__text-wrap {
            @media (min-width: 768px) {
                flex: 0 0 60.13%;
                width: 60.13%;
                padding: 3.5rem 3.5rem;
            }

            @media (max-width: $md3+px) {
                padding: 2.2rem;
                flex: 1 1 auto;
            }
        }

        & .cases-card__title {
            font-size: 2.2rem;
            line-height: 1.56em;
            letter-spacing: 0.03em;

            & a {
                line-height: 1.56em;
                letter-spacing: 0.03em;
            }

            @media (max-width: $md3+px) {
                font-size: 1.6rem;
                line-height: 1.25em;
                margin-bottom: 2rem;

                & a {
                    line-height: 1.25em;
                }
            }
        }

        & .cases-card__subtitle {
            font-size: 1.4rem;
            line-height: 1.43em;
        }

        & .cases-card__img,
        & .cases-card__video {
            @media (min-width: 768px) {
                min-height: 27.5rem;
            }

            @media (max-width: $md3+px) {
                height: 14.1rem;
                flex: 0 0 auto;
            }
        }
    }
}

.home-section-seven {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 5rem;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__col {
        &:nth-child(2) {
            flex: 1 1 auto;
            max-width: 65rem;
        }
    }
}

.home-section-eight {
    z-index: 2;
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 5rem;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__col {
        &:nth-child(1) {
            & > *:last-child {
                margin-bottom: 0;
            }
            @media (max-width: $md3+px) {
                margin-bottom: 4.4rem;
                & .link {
                    display: none;
                }
            }
        }
        &:nth-child(2) {
            flex: 1 1 auto;
            max-width: 65rem;

            @media (min-width: 768px) {
                & .link {
                    display: none;
                }
            }
        }
    }

    &__tittle {
    }

    &__text {
        max-width: 34.7rem;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            max-width: none;
            margin-bottom: 4.4rem;
        }
    }
}

.testimonial {
    @media (max-width: $md3+px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    &__logo {
        margin-bottom: 6rem;
        display: flex;
        width: 13.8rem;

        @media (min-width: 768px) {
            font-size: 4.8rem;
            padding-top: 0.2em;
        }
        @media (max-width: $md3+px) {
            margin-bottom: 4rem;
        }

        & img,
        & svg {
            width: 100%;
            height: auto;
        }
    }

    &__rating {
        margin-bottom: 3rem;
        & .rating {
            font-size: 1.4rem;
        }
    }

    &__text {
        max-width: 64rem;
        font-style: italic;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 1.5em;
        letter-spacing: 0.01em;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            text-align: center;
            font-size: 1.6rem;
            line-height: 2.8rem;
            margin-bottom: 4.2rem;
        }
    }

    &__author {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.17em;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            text-align: center;
            font-size: 2rem;
            line-height: 1.2em;
        }
    }

    &__position {
        font-size: 1.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            text-align: center;
            font-size: 1.2rem;
            line-height: 2.4rem;
        }
    }
}

.home-section-nine {
    &__body {
        position: relative;
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
    }
}

.blog-list {
    padding-left: 0;
    margin-bottom: 0;
    border-top: 1px solid $textColor;
    margin-bottom: 3rem;

    & > li {
        padding: 5.6rem 0;
        border-bottom: 1px solid $textColor;

        @media (max-width: $md3+px) {
            padding: 3rem 0;
        }
    }
}

.blog-card {
    display: flex;

    @media (max-width: $md3+px) {
        flex-direction: column;
    }

    &__col-1 {
        flex: 0 0 39.5rem;
        width: 39.5rem;
        padding-right: 3rem;

        @media (max-width: $md3+px) {
            width: auto;
            flex: 0 1 auto;
            padding-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        padding-right: 3rem;

        @media (max-width: $md3+px) {
            flex: 0 1 auto;
            padding-right: 0;
            order: 1;
        }
    }

    &__col-3 {
        flex: 0 0 28.4rem;

        @media (max-width: $md3+px) {
            flex: 0 1 auto;
            margin-bottom: 3rem;
        }
    }

    &__date {
        font-size: 1.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.01em;
        color: #7e838d;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            font-size: 1.2rem;
            margin-bottom: 2.4rem;
        }
    }

    &__title {
        font-size: 3.2rem;
        line-height: 1.31em;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $secondFontFamily;
        width: 100%;
        transition-duration: 0s !important;

        @media (max-width: $md3+px) {
            font-size: 2.4rem;
            line-height: 1.33em;
        }
    }

    &__tags {
        margin-bottom: 2.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 1.1rem;
        }
    }

    &__text {
        max-width: 48.1rem;
        margin-bottom: 2.8rem;
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
    }

    &__img {
        height: 100%;
        min-height: 28.4rem;
        overflow: hidden;

        @media (max-width: $md3+px) {
            width: 22.3rem;
            min-height: 19.5rem;
        }

        & img {
            transition: transform 1.4s ease;
        }

        @media (min-width: 992px) {
            &:hover {
                & img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.home-section-ten {
    &.padding-wrap {
        padding-top: 16rem;
        padding-bottom: 16rem;

        @media (max-width: $md3+px) {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
    }
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        top: -22rem;
        left: -25rem;
        width: 57.3rem;

        @media (max-width: $md3+px) {
            display: none;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-2 {
        position: absolute;
        z-index: 1;
        right: -42rem;
        top: 0;
        transform: translateY(-30%);
        width: 90.7rem;

        @media (max-width: $md3+px) {
            right: -10rem;
            width: 26.9rem;
            transform: translateY(-64%);
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-3 {
        position: absolute;
        z-index: 1;
        display: none;
        top: -11rem;
        right: -2.5rem;
        width: 21rem;

        @media (max-width: $md3+px) {
            display: block;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            text-align: center;
        }
    }

    &__title {
        font-size: 9rem;
        line-height: 1.44em;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #ffffff;
        font-family: $secondFontFamily;
        margin-bottom: 8.8rem;

        &::before {
            top: -0.75em;
            line-height: 1.2em;

            @media (max-width: $md3+px) {
                top: -1.75em;
            }
        }

        @media (max-width: $md3+px) {
            font-size: 2.8rem;
            line-height: 3.4rem;
            margin-bottom: 2.7rem;
        }

        @media (max-width: 374.98px) {
            font-size: 2.4rem;
        }
    }

    &__text {
        max-width: 62.2rem;
        font-size: 3rem;
        line-height: 1.47em;
        letter-spacing: 0.01em;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            max-width: 29.6rem;
            margin: 0 auto 4.6rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
    }
}
