.promo-header {
    position: relative;
    padding-top: 17rem;
    padding-bottom: 12rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $md3+px) {
        padding-top: 8rem;
        padding-bottom: 11rem;
    }

    &:before {
        position: absolute;
        content: "";
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0.62deg, #000000 0.61%, rgba(0, 0, 0, 0) 68.11%);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        & video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 8.8rem;
        opacity: 0.8;
        letter-spacing: 0.01em;
        color: #d8beff;
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            text-align: center;
            margin-bottom: 4rem;
        }

        &:before {
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            mix-blend-mode: soft-light;
        }
        &:after {
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            mix-blend-mode: soft-light;
        }
    }

    &__btn-wrap {
        position: relative;
        z-index: 3;

        @media (max-width: $md3+px) {
            text-align: center;
        }
    }

    &__btn {
        mix-blend-mode: normal;
    }

    &__btn-scroll {
        position: absolute;
        z-index: 4;
        width: 6rem;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10rem;
        transition: all 0.3s ease;
        opacity: 0.3;

        @media (max-width: $md3+px) {
            bottom: 3.2rem;
        }

        @media (min-width: 992px) {
            &:hover {
                opacity: 1;
            }
        }

        & .dot {
            display: block;
            animation: jump 3s ease infinite;
        }

        @keyframes jump {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2rem);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
}

.home-section-one {
    position: relative;

    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        top: 0;
        z-index: 1;
        right: 70%;
        width: 64.9rem;

        @media (max-width: $md3+px) {
            right: -4rem;
            width: 28.6rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-2 {
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: 92%;
        width: 78.5rem;

        @media (max-width: $md3+px) {
            display: none;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-3 {
        display: none;

        @media (max-width: $md3+px) {
            display: block;
            position: absolute;
            z-index: 1;
            top: 6.2rem;
            right: -6.6rem;
            width: 13.6rem;

            & img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__inner {
        position: relative;
        z-index: 3;
    }

    &__title {
    }

    &__row-1 {
        margin-bottom: 12rem;

        @media (max-width: $md3+px) {
            margin-bottom: 4rem;
        }
    }

    &__text {
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;

        @media (max-width: $md3+px) {
            gap: 1.4rem;
        }
    }

    &__text-col {
        font-weight: 300;
        font-size: 3rem;
        line-height: 1.47em;
        letter-spacing: 0.01em;
        flex: 0 1 calc(50% - 2.5rem);

        @media (max-width: $md3+px) {
            flex: 0 1 100%;
            font-size: 1.2rem;
            line-height: 1.5em;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__row-2 {
    }
}

.post-preview {
    &__desk {
        display: flex;
        gap: 5rem;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__col {
        flex: 0 1 calc(50% - 2.5rem);
    }

    &__tabs-nav {
        margin-bottom: 14.3rem;
    }

    &__tabs-nav-item {
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 5rem;
        }

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            width: 22.8rem;
            height: 0.2rem;
            background: linear-gradient(
                to right,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 113, 255, 1) 25%,
                rgba(0, 113, 255, 1) 75%,
                rgba(0, 0, 0, 1) 100%
            );
            opacity: 0;
            transform: scaleX(0);
            transition: all 0.3s ease;

            @media (max-width: $md2+px) {
                right: -1rem;
                width: 15rem;
            }
        }

        &.tab-active {
            color: $mainColor;

            &:before {
                opacity: 1;
                transform: scaleX(1);
            }
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__tabs-nav-item-text {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 1.56em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: $secondFontFamily;
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: $md3+px) {
            font-size: 2.4rem;
            line-height: 1.5em;
        }
        max-width: 60%;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;

        @media (max-width: $md3+px) {
            gap: 3rem 1rem;
        }

        & > li {
            flex: 0 1 calc(50% - 2.5rem);

            @media (max-width: $md3+px) {
                flex: 0 1 calc(50% - 0.5rem);
            }
        }
    }

    &__mob {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__mob-item {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__mob-item-title {
        position: relative;
        padding-left: 1.45em;
        max-width: 34rem;
        margin-bottom: 0;

        &:before {
            position: absolute;
            font-family: "icomoon" !important;
            content: "\e90b";
            top: 0;
            left: 0;
            color: inherit;
            transition: all 0.3s ease;
            font-size: 0.7em;
        }
        &.active {
            color: $mainColor;

            &::before {
                transform: rotate(90deg);
            }
        }
    }

    &__mob-item-content {
        padding-top: 2rem;
    }

    &__list {
    }
}

.post-preview-card {
    display: block;
    font-size: 2.4rem;
    line-height: 1.2em;
    transition: all 0.3s ease;
    color: $textColor !important;
    font-weight: 700;

    @media (max-width: $md3+px) {
        font-size: 1.2rem;
    }

    @media (min-width: 992px) {
        &:hover {
            color: $mainColor !important;
        }
    }
    &__img {
        height: 0;
        padding-bottom: 64.28%;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            padding-bottom: 63.29%;
            margin-bottom: 1.2rem;
        }
    }

    &__title {
        & span {
            border-bottom: 1px solid currentColor;
        }
    }
}

.home-section-two {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        top: 0;
        right: -26.8rem;
        z-index: 1;
        width: 70.7rem;

        @media (max-width: $md3+px) {
            right: -25px;
            width: 20.2rem;
            top: -11.9rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-2 {
        display: none;
        position: absolute;
        top: -12rem;
        left: -13rem;
        width: 27.8rem;
        z-index: 1;

        & img {
            width: 100%;
            height: auto;
        }
        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__decor-3 {
        display: none;
        position: absolute;
        z-index: 1;
        top: -18rem;
        right: -11.3rem;
        width: 26.3rem;
        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-4 {
        display: none;
        position: absolute;
        z-index: 1;
        top: 31rem;
        right: -18rem;
        width: 25.7rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-5 {
        display: none;
        position: absolute;
        z-index: 1;
        right: -16rem;
        bottom: 23rem;
        width: 25.7rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-6 {
        display: none;
        position: absolute;
        z-index: 1;
        right: -14rem;
        bottom: -2rem;
        width: 26.2rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__decor-7 {
        display: none;
        position: absolute;
        z-index: 1;
        left: -2.5rem;
        bottom: 8rem;
        width: 28.6rem;

        @media (max-width: $md3+px) {
            display: block;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__row-1 {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        margin-bottom: 15rem;

        @media (max-width: $md3+px) {
            display: block;
            margin-bottom: 8rem;
        }

        & .home-section-two__col {
            @media (min-width: 768px) {
                &:nth-child(1) {
                    flex: 1 1 auto;
                    max-width: 42rem;
                }
                &:nth-child(2) {
                    flex: 0 0 calc(50% + 6.6rem - 2.5rem);
                }
            }
        }
    }

    &__row-2 {
        @media (min-width: 992px) {
            margin-left: -4rem;
            margin-right: -4rem;
        }
    }

    &__col {
    }

    &__title {
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.56em;
        letter-spacing: 0.01em;
        max-width: 34.7rem;

        @media (max-width: $md3+px) {
            max-width: none;
            font-size: 1.2rem;
            line-height: 1.5em;
            margin-bottom: 4.6rem;

            & .blot {
                display: none;
            }
        }
    }
}

.check-list {
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.47em;
    letter-spacing: 0.01em;

    @media (max-width: $md3+px) {
        font-size: 1.2rem;
        line-height: 1.5em;
    }

    & > li {
        position: relative;
        padding-left: 6.6rem;

        @media (max-width: $md3+px) {
            padding-left: 4rem;
        }

        &:not(:last-child) {
            margin-bottom: 4.6rem;
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e904";
            top: 0;
            left: 0;
            font-size: 1em;
        }
    }
}

.team-preview {
    padding-left: 0;
    margin-bottom: 3rem;
}

.team-big-card {
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    gap: 6.4rem;
    min-height: 28.5rem;

    @media (max-width: $md2+px) {
        gap: 3rem;
    }

    @media (max-width: $md3+px) {
        display: block;
        border-bottom: none;
        min-height: auto;
        padding-top: 2.5rem;
    }

    &__img {
        flex: 0 0 29rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;

        @media (max-width: $md2+px) {
            flex: 0 0 20rem;
        }

        &:before {
            position: absolute;
            content: "";
            z-index: 1;
            top: 50%;
            left: 50%;
            width: 20rem;
            height: 20rem;
            transform: translate(-50%, -50%);
            max-width: 100%;
            border-radius: 100%;
            background: linear-gradient(263.96deg, #00b4cc 7.61%, #000aff 87.18%);
            filter: blur(55px);
        }

        & img {
            width: 100%;
            max-width: 20rem;
            height: auto;
            position: relative;
            z-index: 2;

            @media (max-width: $md3+px) {
                max-width: 14rem;
            }
        }
    }

    &__main {
        flex: 1 1 auto;
        display: flex;
        gap: 3.5rem;
        padding-top: 6rem;
        padding-bottom: 2rem;

        @media (max-width: $md3+px) {
            align-items: center;
            border: 1px solid $textColor;
            justify-content: space-between;
            padding: 1rem 2.5rem;
            gap: 0;
            min-height: 6rem;
        }
    }

    &__col-1 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 29.9rem;
        }

        @media (max-width: $md3+px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            width: 100%;
        }
    }

    &__col-2 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 27.8rem;
        }

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__col-3 {
        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 38.5rem;
        }

        @media (max-width: $md2+px) {
            max-width: 32rem;
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__label {
        font-size: 1.8rem;
        line-height: 2.5rem;
        letter-spacing: 0.01em;
        opacity: 0.5;
        margin-bottom: 2rem;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.33em;
        letter-spacing: 0.01em;
        margin-bottom: 1.7rem;

        @media (max-width: $md3+px) {
            margin-bottom: 0;
            font-size: 1.8rem;
            line-height: 1.2em;

            & br {
                display: none;
            }
        }
    }

    &__flag {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 0 0 auto;
    }

    &__flag-mob {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        flex: 0 0 auto;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.38em;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.44em;
        letter-spacing: 0.01em;
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.home-section-three {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -58rem;
        width: 124.6rem;
        z-index: 1;

        @media (max-width: $md3+px) {
            width: 60rem;
            left: -20rem;
            top: auto;
            transform: translateY(24%);
            bottom: 0%;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
        max-width: 71rem;
        margin-left: auto;
    }

    &__title {
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.56em;
        letter-spacing: 0.01em;
        margin-bottom: 10rem;

        @media (max-width: $md3+px) {
            font-size: 1.2rem;
            line-height: 1.5em;
            margin-bottom: 4.6rem;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__list {
        @media (min-width: 768px) {
            margin-bottom: 5rem;
        }
    }
}

.home-section-four {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        display: none;
        width: 26.5rem;
        top: -4rem;
        left: -15rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__decor-2 {
        position: absolute;
        z-index: 1;
        right: -55rem;
        width: 90.5rem;
        filter: blur(10px);
        bottom: 0;
        transform: translateY(33%);

        @media (max-width: $md3+px) {
            filter: none;
            width: 26.2rem;
            right: -11rem;
            transform: translateY(0%);
            bottom: 13rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__decor-3 {
        position: absolute;
        z-index: 1;
        display: none;

        @media (max-width: $md3+px) {
            display: block;
            left: -2.5rem;
            top: 33rem;
            width: 28.6rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__row-1 {
        margin-bottom: 15rem;

        @media (max-width: $md3+px) {
            margin-bottom: 8rem;
        }
    }

    &__row-2 {
    }

    &__text-big {
        max-width: 119.4rem;
        margin: 0 auto;
        font-style: italic;
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.47em;
        text-align: center;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            font-size: 1.8rem;
        }
    }
}

.step-tabs {
    display: flex;
    gap: 5rem;
    justify-content: space-between;

    @media (max-width: $md3+px) {
        display: block;
    }

    &__col-1 {
        flex: 1 1 auto;
        max-width: 50.1rem;

        @media (max-width: $md3+px) {
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            max-width: none;

            & .btn-default {
                justify-self: center;
                align-self: center;
            }
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        max-width: 65.3rem;
    }

    &__content {
    }

    &__title {
    }

    &__text {
        margin-bottom: 4.5rem;
        max-width: 40.3rem;

        @media (max-width: $md3+px) {
            max-width: none;
            margin-bottom: 4rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__nav {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 14rem;
            height: 100%;
            width: 0.2rem;
            background-color: $mainColor;
            transform: translateX(-50%);
            z-index: -1;

            @media (max-width: $md3+px) {
                left: 10.5rem;
            }
        }
    }

    &__nav-item {
        display: flex;
        align-items: center;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 9rem;

            @media (max-width: $md3+px) {
                margin-bottom: 6rem;
            }
        }

        &:first-child {
            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 14rem;
                height: 50%;
                width: 0.4rem;
                z-index: 1;
                transform: translateX(-50%);
                background-color: #000;

                @media (max-width: $md3+px) {
                    left: 10.5rem;
                }
            }
        }

        &:last-child {
            &:before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 14rem;
                height: 50%;
                width: 0.4rem;
                z-index: 1;
                transform: translateX(-50%);
                background-color: #000;

                @media (max-width: $md3+px) {
                    left: 10.5rem;
                }
            }
        }

        &.tab-active {
            & .step-tabs__nav-item-title {
                color: #fff;
                font-weight: 700;
            }

            & .step-tabs__nav-item-icon {
                opacity: 1;
                visibility: visible;
            }

            & .step-tabs__nav-item-dot {
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__nav-item-num {
        text-align: right;
        flex: 0 0 9.8rem;
        font-size: 3.2rem;
        line-height: 1em;
        letter-spacing: 0.01em;
        color: #fff;
        font-family: $secondFontFamily;
        margin-right: 3.6rem;

        @media (max-width: $md3+px) {
            flex: 0 0 7.3rem;
            margin-right: 2.6rem;
            font-size: 2.4rem;
        }
    }

    &__nav-item-dot {
        flex: 0 0 auto;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 4.6rem;
        border-radius: 50%;
        background-color: $mainColor;
        position: relative;
        z-index: 2;

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            background: #000000;
            border: 2px solid $mainColor;
            box-shadow: 0px 0px 6px 3px $mainColor;
            transition: all 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }

        @media (max-width: $md3+px) {
            margin-right: 2.6rem;
        }
    }

    &__nav-item-title {
        max-width: 25rem;
        font-size: 3rem;
        line-height: 1.33em;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #555a63;
        transition: all 0.3s ease;
        cursor: pointer;

        @media (max-width: $md3+px) {
            font-size: 1.8rem;
        }

        @media (min-width: 992px) {
            &:hover {
                color: #fff;
            }
        }
    }

    &__nav-item-icon {
        position: absolute;
        top: 50%;
        left: 47rem;
        width: 5rem;
        transform: translateY(-50%);
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;

        @media (max-width: $md3+px) {
            display: none;
        }

        &:before {
            position: absolute;
            content: "";
            z-index: 1;
            height: 19rem;
            width: 19rem;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(267.91deg, #00b4cc 14.55%, #000aff 91.19%);
            filter: blur(37px);
        }

        & img,
        & svg {
            position: relative;
            z-index: 2;
            width: 100%;
            height: auto;
        }
    }
}

.home-section-five {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        left: -23.7rem;
        top: -19rem;
        width: 64.2rem;

        @media (max-width: $md3+px) {
            display: none;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
    }

    &__slider {
    }
}

.home-section-six {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        left: -63.7rem;
        top: 0;
        width: 95rem;

        @media (max-width: $md3+px) {
            width: 32.4rem;
            left: auto;
            right: -18.7rem;
            z-index: 2;
            top: -15rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-2 {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -28.7rem;
        transform: translateY(-42%);
        width: 70.7rem;

        @media (max-width: $md3+px) {
            right: -2.5rem;
            width: 28.6rem;
            transform: translateY(-0%);
            top: 24rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-3 {
        position: absolute;
        z-index: 1;
        right: -80rem;
        width: 113.8rem;
        bottom: 0;
        transform: translateY(50%);

        @media (max-width: $md3+px) {
            right: -12rem;
            width: 24.9rem;
            bottom: auto;
            top: 45rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-4 {
        position: absolute;
        z-index: 1;
        display: none;
        right: -13rem;
        width: 25.4rem;
        bottom: 0;
        transform: translateY(32%);

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
    }

    &__cases {
        max-width: 95.2rem;
        width: 100%;
        margin: 0 auto 4rem;

        @media (max-width: $md3+px) {
            margin-bottom: 3rem;
        }
    }
}

.cases-list {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}

.cases-card {
    display: flex;
    border: 1px solid #fff;
    flex-direction: row-reverse;
    color: #fff !important;

    @media (max-width: $md3+px) {
        display: block;
    }

    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0 0 2rem rgba(#fff, 0.3);
            & .cases-card__img img {
                transform: scale(1.1);
            }
        }
    }

    &__img {
        min-height: 40rem;
        flex: 1 1 auto;
        overflow: hidden;
        border-left: 1px solid #fff;

        @media (max-width: $md3+px) {
            border: none;
            height: 0;
            min-height: auto;
            padding-bottom: 72%;
        }

        & img {
            transition: all 1.4s ease;
        }
    }

    &__video {
        min-height: 40rem;
        flex: 1 1 auto;
        overflow: hidden;
        border-left: 1px solid #fff;

        @media (max-width: $md3+px) {
            border: none;
            height: 0;
            min-height: auto;
            padding-bottom: 72%;
        }
    }

    &__video-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition: all 0.3s ease;
        width: 7.9rem;

        @media (min-width: 992px) {
            &:hover {
                transform: translate(-50%, -50%) scale(1.05);
            }
        }

        & img {
            position: static;
            width: 100%;
            height: auto;
        }
    }

    &__text-wrap {
        flex: 0 0 39.4rem;
        padding: 4rem 5rem;

        @media (max-width: $md3+px) {
            padding: 3rem 3.5rem 4.5rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 1.56em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-family: $secondFontFamily;

        @media (max-width: $md3+px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        line-height: 1.56em;
        margin-bottom: 5rem;
        font-style: italic;

        @media (max-width: $md3+px) {
            margin-bottom: 3.4rem;
        }
    }

    &__text {
        & > *:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $md3+px) {
            line-height: 2rem;
        }
    }

    &--big {
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column-reverse;
        }

        @media (min-width: 992px) {
            &:hover {
                box-shadow: none;
            }
        }
        & .cases-card__text-wrap {
            @media (min-width: 768px) {
                flex: 0 0 48.19%;
            }

            @media (max-width: $md3+px) {
                flex: 0 1 auto;
                padding: 1.6rem 1.7rem 2.5rem;
            }
        }

        & .cases-card__video,
        & .cases-card__img {
            min-height: 50.9rem;

            @media (max-width: $md3+px) {
                min-height: 29.9rem;
            }
        }

        & .cases-card__title {
            font-weight: 700;
            font-size: 4.8rem;
            line-height: 1.2em;
            font-family: $mainFontFamily;
            margin-bottom: 4rem;
            text-transform: none;
        }

        & .cases-card__text {
            @media (min-width: 768px) {
                max-width: 45.2rem;
            }
        }
    }

    &--sm {
        @media (min-width: 992px) {
            &:hover {
                box-shadow: none;
            }
        }
        & .cases-card__text-wrap {
            @media (min-width: 768px) {
                flex: 0 0 60.13%;
                padding: 3.5rem 3.5rem;
            }
        }

        & .cases-card__img,
        & .cases-card__video {
            min-height: 27.5rem;
        }
    }
}

.home-section-seven {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        left: -26.7rem;
        top: 10rem;
        width: 65.1rem;

        @media (max-width: $md3+px) {
            left: -2.5rem;
            width: 20.2rem;
            top: 8rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__decor-2 {
        position: absolute;
        z-index: 1;
        display: none;
        width: 24.9rem;
        right: -13rem;
        bottom: 0;
        transform: translateY(60%);

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 5rem;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__col {
        &:nth-child(2) {
            flex: 1 1 auto;
            max-width: 65rem;
        }
    }

    &__title {
    }
}

.home-section-eight {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -61.9rem;
        width: 103.1rem;
        transform: translateY(7%);

        @media (max-width: $md3+px) {
            right: auto;
            left: -13rem;
            top: 22rem;
            width: 22rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__decor-2 {
        position: absolute;
        z-index: 1;
        display: none;
        right: -2.5rem;
        top: 18rem;
        width: 20.2rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__decor-3 {
        position: absolute;
        z-index: 1;
        display: none;
        bottom: -4rem;
        left: -9rem;
        width: 16.9rem;
        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 5rem;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__col {
        &:nth-child(1) {
            & > *:last-child {
                margin-bottom: 0;
            }
            @media (max-width: $md3+px) {
                margin-bottom: 4.4rem;
                & .link {
                    display: none;
                }
            }
        }
        &:nth-child(2) {
            flex: 1 1 auto;
            max-width: 65rem;

            @media (min-width: 768px) {
                & .link {
                    display: none;
                }
            }
        }
    }

    &__tittle {
    }

    &__text {
        max-width: 34.7rem;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            max-width: none;
            margin-bottom: 4.4rem;
        }
    }
}

.testimonial {
    @media (max-width: $md3+px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    &__logo {
        margin-bottom: 6rem;
        display: flex;

        @media (max-width: $md3+px) {
            margin-bottom: 4rem;
        }

        & img,
        & svg {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__rating {
        margin-bottom: 3rem;
        & .rating {
            font-size: 1.4rem;
        }
    }

    &__text {
        max-width: 64rem;
        font-style: italic;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 1.5em;
        letter-spacing: 0.01em;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            text-align: center;
            font-size: 1.6rem;
            line-height: 2.8rem;
            margin-bottom: 4.2rem;
        }
    }

    &__author {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.17em;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            text-align: center;
            font-size: 2rem;
            line-height: 1.2em;
        }
    }

    &__position {
        font-size: 1.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            text-align: center;
            font-size: 1.2rem;
            line-height: 2.4rem;
        }
    }
}

.home-section-nine {
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        display: none;
        top: -5rem;
        right: -12rem;
        width: 22.1rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-2 {
        position: absolute;
        z-index: 1;
        display: none;
        right: -2.5rem;
        top: 11rem;
        width: 28.6rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-3 {
        position: absolute;
        z-index: 1;
        display: none;
        top: 70rem;
        left: -13rem;
        width: 20rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-4 {
        position: absolute;
        z-index: 1;
        display: none;
        width: 25rem;
        right: -15rem;
        bottom: 55rem;
        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-5 {
        position: absolute;
        z-index: 1;
        display: none;
        left: -2.5rem;
        bottom: 18rem;
        width: 20rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-6 {
        position: absolute;
        z-index: 1;
        display: none;
        right: -11rem;
        bottom: 24rem;
        width: 20rem;

        @media (max-width: $md3+px) {
            display: block;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__title {
    }
}

.blog-list {
    padding-left: 0;
    margin-bottom: 0;
    border-top: 1px solid $textColor;
    margin-bottom: 3rem;

    & > li {
        padding: 5.6rem 0;
        border-bottom: 1px solid $textColor;

        @media (max-width: $md3+px) {
            padding: 3rem 0;
        }
    }
}

.blog-card {
    display: flex;

    @media (max-width: $md3+px) {
        flex-direction: column;
    }

    &__col-1 {
        flex: 0 0 39.5rem;
        padding-right: 3rem;

        @media (max-width: $md3+px) {
            flex: 0 1 auto;
            padding-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        padding-right: 3rem;

        @media (max-width: $md3+px) {
            flex: 0 1 auto;
            padding-right: 0;
            order: 1;
        }
    }

    &__col-3 {
        flex: 0 0 28.4rem;

        @media (max-width: $md3+px) {
            flex: 0 1 auto;
            margin-bottom: 3rem;
        }
    }

    &__date {
        font-size: 1.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.01em;
        color: #7e838d;
        margin-bottom: 3rem;

        @media (max-width: $md3+px) {
            font-size: 1.2rem;
            margin-bottom: 2.4rem;
        }
    }

    &__title {
        font-size: 3.2rem;
        line-height: 1.31em;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $secondFontFamily;

        @media (max-width: $md3+px) {
            font-size: 2.4rem;
            line-height: 1.33em;
        }
    }

    &__tags {
        margin-bottom: 2.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 1.1rem;
        }
    }

    &__text {
        max-width: 48.1rem;
        margin-bottom: 2.8rem;
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
    }

    &__img {
        height: 100%;
        min-height: 28.4rem;

        @media (max-width: $md3+px) {
            width: 22.3rem;
            min-height: 19.5rem;
        }
    }
}

.home-section-ten {
    &.padding-wrap {
        padding-top: 16rem;
        padding-bottom: 16rem;

        @media (max-width: $md3+px) {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
    }
    &__body {
        position: relative;
    }

    &__decor-1 {
        position: absolute;
        z-index: 1;
        top: -22rem;
        left: -25rem;
        width: 57.3rem;

        @media (max-width: $md3+px) {
            display: none;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-2 {
        position: absolute;
        z-index: 1;
        right: -42rem;
        top: 0;
        transform: translateY(-30%);
        width: 90.7rem;

        @media (max-width: $md3+px) {
            right: -10rem;
            width: 26.9rem;
            transform: translateY(-64%);
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__decor-3 {
        position: absolute;
        z-index: 1;
        display: none;
        top: -11rem;
        right: -2.5rem;
        width: 21rem;

        @media (max-width: $md3+px) {
            display: block;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            text-align: center;
        }
    }

    &__title {
        font-size: 9rem;
        line-height: 1.44em;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #ffffff;
        font-family: $secondFontFamily;
        margin-bottom: 8.8rem;

        @media (max-width: $md3+px) {
            font-size: 2.8rem;
            line-height: 3.4rem;
            margin-bottom: 2.7rem;
        }
    }

    &__text {
        max-width: 62.2rem;
        font-size: 3rem;
        line-height: 1.47em;
        letter-spacing: 0.01em;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            max-width: 29.6rem;
            margin: 0 auto 4.6rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
    }
}
