.staked-list {
    padding-left: 0;
    margin-bottom: 0;

    & > li {
        border-bottom: 1px solid $textColor;
        padding-bottom: 1.5rem;
        transition: border-color .3s ease;

        @media (max-width: $md3+px) {
            padding-bottom: 1rem;
        }

        &:not(:last-child) {
            margin-bottom: 10rem;

            @media (max-width: $md3+px) {
                margin-bottom: 4rem;
            }
        }

        &.active {
            border-color: transparent;
        }
    }

    &__title {
        cursor: pointer;
        position: relative;
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.9rem;
        letter-spacing: 0.01em;
        transition: all 0.3s ease;
        padding-right: 4rem;

        @media (max-width: $md3+px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }

        &:before {
            font-family: "icomoon" !important;
            position: absolute;
            content: "\e909";
            font-size: 0.5em;
            right: 0;
            bottom: -0.1em;
            transition: all 0.3s ease;
        }

        &.active {
            color: $mainColor;
            &:before {
                transform: scale(1, -1);
            }
        }
    }

    &__content {
        padding-top: 3rem;
        padding-bottom: 1rem;

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}
