.post-preview {
    &__desk {
        display: flex;
        gap: 5rem;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__col {
        flex: 0 1 calc(50% - 2.5rem);
    }

    &__tabs-nav {
        margin-bottom: 14.3rem;
    }

    &__tabs-nav-item {
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 5rem;
        }

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            width: 22.8rem;
            height: 0.2rem;
            background: linear-gradient(
                to right,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 113, 255, 1) 25%,
                rgba(0, 113, 255, 1) 75%,
                rgba(0, 0, 0, 1) 100%
            );
            opacity: 0;
            transform: scaleX(0);
            transition: all 0.3s ease;

            @media (max-width: $md2+px) {
                right: -1rem;
                width: 15rem;
            }
        }

        &.tab-active {
            color: $mainColor;

            &:before {
                opacity: 1;
                transform: scaleX(1);
            }
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__tabs-nav-item-text {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 1.56em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: $secondFontFamily;
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: $md3+px) {
            font-size: 2.4rem;
            line-height: 1.5em;
        }
        max-width: 60%;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;

        @media (max-width: $md3+px) {
            gap: 3rem 1rem;
        }

        & > * {
            flex: 0 1 calc(50% - 2.5rem);

            @media (max-width: $md3+px) {
                flex: 0 1 calc(50% - 0.5rem);
            }
        }
    }

    &__content {

        flex-direction: column;
        gap: 6rem;

        &.tab-active {
            display: flex !important; 
        }

        & .link {
            margin-left: auto;
        }
    }

    &__mob {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__mob-item {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__mob-item-title {
        position: relative;
        padding-left: 1.45em;
        max-width: 34rem;
        margin-bottom: 0;
        font-family: $secondFontFamily;
        font-weight: 400;
        max-width: 33rem;

        &:before {
            position: absolute;
            font-family: "icomoon" !important;
            content: "\e90b";
            top: 0;
            left: 0;
            color: inherit;
            transition: all 0.3s ease;
            font-size: 0.7em;
        }
        &.active {
            color: $mainColor;

            &::before {
                transform: rotate(90deg);
            }
        }
    }

    &__mob-item-content {
        padding-top: 2rem;

        & .post-preview__list {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__list {
    }
}

.post-preview-card {
    display: block;
    font-size: 2.4rem;
    line-height: 1.2em;
    transition: all 0.3s ease;
    color: $textColor !important;
    font-weight: 700;

    @media (max-width: $md3+px) {
        font-size: 1.2rem;
    }

    @media (min-width: 992px) {
        &:hover {
            color: $mainColor !important;

            & .post-preview-card__img  img{
                transform: scale(1.1);
            }

            & .post-preview-card__title span::before {
                width: var(--width);
            }
        }
    }
    &__img {
        height: 0;
        padding-bottom: 64.28%;
        margin-bottom: 3rem;
        overflow: hidden;

        @media (max-width: $md3+px) {
            padding-bottom: 63.29%;
            margin-bottom: 1.2rem;
        }

        & img {
            transition: all 1.4s ease;
        }
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        & .with-line {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                height: 0.1rem;
                width: 2.5em;
                background-color: currentColor;
                transition: width 0.3s ease;
            }

            &::after {
                display: none;
            }
        }
    }
}