.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0.7rem;
    height: 6.4rem;
    padding: 0.8rem 2.1rem;
    border: 0.5px solid #fff;
    outline: none;
    font-size: 2.4rem;
    line-height: 1.2em;
    font-weight: 300;
    color: #fff;

    @media (max-width: $md3+px) {
        font-size: 2rem;
        padding: 0.8rem 1.6rem;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        transition: all 0.3s ease;
    }
}
.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 0.7rem;
    min-height: 14.5rem;
    padding: 2.2rem 2.1rem;
    border: 0.5px solid #fff;
    outline: none;
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: 300;
    color: #fff;

    @media (max-width: $md3+px) {
        padding: 1.6rem 2.1rem;
        font-size: 2rem;
        line-height: 2.7rem;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

    &::placeholder {
        transition: all 0.3s ease;
    }

    &::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background: #4e4e4e;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 0px #fff;
	}
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $mainColor;
                border-color: $mainColor;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjk5OTk5OSA0LjYzNTg4TDIuNDc0NzEgNi4xMTA1OUMyLjg2NTIzIDYuNTAxMTEgMy40OTg0IDYuNTAxMTEgMy44ODg5MiA2LjExMDU5TDkgMC45OTk1MTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 1.2rem;
        width: 1.2rem;
        border: 1px solid $mainColor;
        margin-right: 1rem;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5em;
    }
}

.form {
    &__fields {
        display: flex;
        flex-wrap: wrap;
        gap: 7rem 5rem;
        margin-bottom: 6rem;

        @media (max-width: $md3+px) {
            gap: 4rem;
            margin-bottom: 4rem;
        }
    }

    &__field {
        flex: 0 1 100%;

        &.half-md {
            @media (min-width: 768px) {
                flex: 0 1 calc(50% - 2.5rem);
            }
        }
    }

    &__label {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        display: block;
        margin-bottom: 1.4rem;

        & span {
            color: #FF0000;
        }
    }
}
.error {
    border-color: #FF2F2F;
    color: #FF2F2F;
}
.error-message {
    color: #FF2F2F;
    padding-top: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

