[data-hide-content] {
    transition: height .5s ease; 
    height: 33rem;
    overflow: hidden;
    & + .link {
        text-decoration: none;

        &.hide-content-is-open {
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}