.awards {
    position: relative;

    @media (min-width: 992px) {
        &:hover {
            & .carousel__btn {
                pointer-events: auto;
            }

            & .carousel__btn img {
                opacity: 0.4;
            }
        }
    }

    & .swiper {
        overflow: visible;
    }
    & .swiper-wrapper {
    }

    & .swiper-slide {
        width: 30.5rem;

        @media (max-width: $md3+px) {
            width: 20rem;
        }
    }

    &__slider {
        @media (min-width: 992px) {

            //transform: translateX(20rem);
            //pointer-events: none;
        }

        @media (min-width: 1268px) {
            max-width: 110.5rem;
            margin-right: 0;
            transition: transform 1s ease;
        }
    }

    &__btn {
        position: absolute;
        z-index: 4;
        top: 0;
        font-size: 2.4rem;
        height: calc(100% - 1em - 4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: calc((100vw - 162rem) / 2 + 16.5rem);
        transition: opacity .3s ease;
        cursor: pointer;
        pointer-events: none;

        &.hide {
            opacity: 0 !important;
            pointer-events: none !important;
        }

        @media (max-width: $md1+px) {
            width: calc((100vw - 162rem) / 2);
        }

        @media (max-width: $md2+px) {
            display: none;
        }

        @media (min-width: 992px) {
            &:hover {
                & img {
                    opacity: 1 !important;
                }
            }
        }

        & img {
            position: relative;
            z-index: 2;
            height: 6rem;
            width: auto;
            opacity: 0;
            transition: opacity .3s ease;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 7rem);
        }
    }

    &__shadow-left {
        right: 100%;
        &::before {
            background: linear-gradient(90deg, #000000 6.75%, rgba(0, 0, 0, 0) 100.01%);
        }
    }

    &__shadow-right {
        left: 100%;

        &::before {
            background: linear-gradient(-90deg, #000000 6.75%, rgba(0, 0, 0, 0) 100.01%);
        }
    }

    &__list {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 9rem;

        @media (max-width: $md3+px) {
            gap: 6rem 4rem;
        }

        & > li {
            flex: 0 1 calc(25% - (9rem * 3 / 4));

            @media (max-width: $md2+px) {
                flex: 0 1 calc(33.3333333% - (9rem * 2 / 3));
            }

            @media (max-width: $md3+px) {
                flex: 0 1 calc(50% - 2rem);
                max-width: 20rem;
            }
        }
    }

    &--init {
        cursor: grab;

        & .awards__slider {
            transform: translate(0);
            pointer-events: auto;
            cursor: grab;
        }

        & .awards__shadow-right {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.award-card {
    text-align: center;

    &__img-wrap {
        position: relative;
        margin-bottom: 3.5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 3rem;
        }
    }

    &__img-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;

            @media (max-width: $md3+px) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 140%;
                height: auto;
                max-width: none;
                max-height: none;
            }
        }
    }

    &__img {
        width: 100%;
        height: 31.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: relative;

        @media (max-width: $md3+px) {
            height: 20.7rem;
        }

        & img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.33em;
        letter-spacing: 0.01em;

        @media (max-width: $md3+px) {
            font-size: 1.4rem;
            line-height: 1.22em;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        line-height: 1.78em;
        letter-spacing: 0.01em;
        color: #7e838d;
        margin-bottom: 2rem;
        max-width: 25rem;
        margin: 0 auto 2rem;

        @media (max-width: $md3+px) {
            line-height: 1.22em;
            margin-bottom: 1.2rem;
            font-size: 1.2rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.43em;
        letter-spacing: 0.01em;
        max-width: 25rem;
        margin: 0 auto;

        @media (max-width: $md3+px) {
            margin: 0 auto;
            font-size: 1rem;
            line-height: 1.47em;
            max-width: 19rem;
        }
    }
}
